.tarea-contenedor{
  width: 500px;
  min-height: 65px;
  background-color: #d5d557;
  margin: 5px 0;
  padding: 8px 15px 8px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
  border: 1px solid black;
  color: black;
  cursor: pointer;
}

/*Colores*/
.tare-contenedor:nth-child(3n +1){
  background-color: #bfc969;
}
.tarea-contenedor:nth-child(3n +2){
  background-color: #a4b168;
}
.tarea-contenedor:nth-child(3n +3){
  background-color: #75723c;
}

/*Texto*/

.tarea-texto{
  width: 100%;
  height: 100%;
  font-size: 20px;
  display: flex;
  align-items: center;
  overflow-wrap: anywhere;
}
/*Icono*/
.tarea-icono{
  height: 30px;
  width: 30px;
  margin: 5px;
  font-size: 20px;
  font-weight: bolder;
  border: 1px solid black;
  border-radius:25px;
  padding-left: 8px;
  padding-top: 3px;
}
/*Tarea completada */
.tarea-contenedor.completada{
  background-color: #4b4b4b;
  text-decoration: line-through;
}